COMPOSE_PROJECT_NAME=tomorrownow_gap
DJANGO_SETTINGS_MODULE=core.settings.dev
DJANGO_TAG=0.0.1
HTTP_PORT=80

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@example.com

DATABASE_NAME=django
DATABASE_USERNAME=docker
DATABASE_PASSWORD=docker
DATABASE_HOST=db
DATABASE_PORT=5432

REDIS_HOST=redis
REDIS_PASSWORD=redis_password

SENTRY_DSN=
INITIAL_FIXTURES=
PLUMBER_PORT=8282

# S3 Variables for django default storages
GAP_S3_ACCESS_KEY_ID=minio_tomorrownow
GAP_S3_SECRET_ACCESS_KEY=minio_tomorrownow
GAP_S3_ENDPOINT_URL=http://minio:9000/
GAP_S3_MEDIA_BUCKET_NAME=tomorrownow
GAP_S3_MEDIA_DIR_PREFIX=dev/media

# GAP Products
GAP_S3_PRODUCTS_BUCKET_NAME=tngap-products
GAP_S3_PRODUCTS_DIR_PREFIX=

# CBAM S3 Variables
CBAM_S3_ACCESS_KEY_ID=minio_tomorrownow
CBAM_S3_SECRET_ACCESS_KEY=minio_tomorrownow
CBAM_S3_ENDPOINT_URL=
CBAM_S3_BUCKET_NAME=tomorrownow
CBAM_S3_DIR_PREFIX=
CBAM_S3_REGION_NAME=

# API keys
TOMORROW_IO_API_KEY=

# EMAIL
# We are using resend
DEFAULT_FROM_EMAIL=noreply@noreply.kartoza.com
RESEND_API_KEY=

# ---------------------------------
# EMAIL
# ---------------------------------
DEFAULT_FROM_EMAIL=noreply@noreply.kartoza.com

# SELECT BETWEEN
# - core.resend_email_backend.ResendBackend
# - django.core.mail.backends.smtp.EmailBackend
EMAIL_BACKEND=core.resend_email_backend.ResendBackend

# if core.resend_email_backend.ResendBackend
RESEND_API_KEY=

# if django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=25
EMAIL_HOST_USER=noreply@kartoza.com
EMAIL_HOST_PASSWORD=noreply
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False

# SALIENT SDK Keys
SALIENT_SDK_USERNAME=
SALIENT_SDK_PASSWORD=

# https://api.arable.cloud/api/v2 KEY
ARABLE_API_KEY=

# https://datahub.tahmo.org Credential
TAHMO_API_USERNAME=
TAHMO_API_PASSWORD=

# https://windbornesystems.com/ API Credential
WIND_BORNE_SYSTEMS_USERNAME=
WIND_BORNE_SYSTEMS_PASSWORD=

# SFTP server config
SFTP_HOST=127.0.0.1
SFTP_PORT=2222
SFTP_USERNAME=user
SFTP_PASSWORD=password
SFTP_REMOTE_PATH=upload

# GEE
GCS_SERVICE_ACCOUNT_KEY=
GCS_SERVICE_ACCOUNT=
GCS_BUCKET_NAME=
