{% extends "drf-yasg/swagger-ui.html" %}

{% block extra_head %}
    {% load render_bundle from webpack_loader %}
{% endblock %}

{% block extra_styles %}
    <style>
      .topbar-wrapper .link:hover {
        opacity: 0.5;
      }

      .topbar-wrapper .link:after {
        content: 'Home' !important;
        color: white;
        cursor: pointer;
      }

      .topbar-wrapper .link img {
        display: none !important;
      }

      .swagger-ui .topbar a {
        display: block;
        flex: 0;
        margin-right: 200px;
      }

      .info .main {
        margin-bottom: 0 !important;
      }

      .swagger-ui select[multiple] {
        min-height: 200px;
      }

      #show-map-button {
        text-decoration: underline;
      }
    </style>
{% endblock %}
{% block extra_scripts %}
    <script id="gap-product-type-list" type="application/json">{{ product_type_list | safe }}</script>
    <script id="gap-attribute-dict" type="application/json">{{ attribute_dict | safe }}</script>
    <script>
      setTimeout(function () {
        const link = document.getElementsByClassName('topbar-wrapper')[0].getElementsByClassName('link')[0]
        link.href = "/"
        link.target = "_blank"
      }, 500);
    </script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script>
        function toggleMap(e) {
            e.preventDefault();
            var mapApp = document.getElementById('map-app');
            var mapRoot = document.getElementById('map-root');
            var mapRootDest = document.getElementById('map-root-dest');
            if (mapApp) {
              // if (mapApp.style.display === 'none') {
              //   if (mapRootDest) {
              //     console.log('Adding mapApp to mapRootDest');
              //     mapRootDest.appendChild(mapApp);
              //     if (window.mapControl) {
              //       setTimeout(() => {
              //         console.log('Resizing mapControl');
              //         window.mapControl.resize(); // Resize the map if it exists
              //       }, 300);
              //     }
              //   }
              // } else {
              //   if (mapRoot) {
              //     console.log('Adding mapApp to mapRoot');
              //     mapRoot.appendChild(mapApp);
              //     if (window.mapControl) {
              //       setTimeout(() => {
              //         console.log('Resizing mapControl');
              //         window.mapControl.resize(); // Resize the map if it exists
              //       }, 300);
              //     }
              //   }
              // }
              
              // mapApp.style.visibility = mapApp.style.visibility === 'hidden' ? 'visible' : 'hidden';
              mapApp.style.display = mapApp.style.display === 'none' ? 'block' : 'none';
              
              if (mapApp.style.display === 'none') {
                e.target.innerText = 'Show Map';
              } else {
                e.target.innerText = 'Hide Map';
              }            
            }
        }
        
        $( document ).ready(function() {
            const mainWeatherBlockID = '#operations-Weather_\\\\\\&_Climate_Data-get-measurement';
            const productTypeList = JSON.parse(document.getElementById('gap-product-type-list').innerHTML);
            const attributeDict = JSON.parse(document.getElementById('gap-attribute-dict').innerHTML);

            function change_item_list(selected_value) {
              // replace attribute dropdown based on selected product_type
              var $attributeSelect = $(mainWeatherBlockID + ' > div.no-margin > div > div.opblock-section > div.parameters-container > div > table > tbody > tr[data-param-name="attributes"] > td.parameters-col_description > select');

              // clear existing list
              $attributeSelect.empty();

              // update using selected product type
              if (attributeDict && selected_value in attributeDict) {
                var optionsSet = attributeDict[selected_value];
                optionsSet.forEach(option => {
                      $attributeSelect.append($('<option>', {
                          value: option,
                          text: option
                      }));
                });
              }
            }

            function observerWeatherBlock() {
              var targetElement = $(mainWeatherBlockID)[0];

              // Set up a MutationObserver to listen for attribute changes
              var observer = new MutationObserver(function(mutations) {
                  mutations.forEach(function(mutation) {
                      if (mutation.attributeName === 'class') {
                          if (mutation.target.className.includes('is-open')) {
                            setTimeout(function(){
                                var $tableSelect = mainWeatherBlockID + ' > div.no-margin > div > div.opblock-section > div.parameters-container > div > table';
                                var newRow = '<tr><td colspan="2"><hr></td></tr>';

                                // apend hr after attributes row
                                $($tableSelect + ' tr[data-param-name="attributes"]').after(newRow);
                                // apend hr after end_time row
                                $($tableSelect + ' tr[data-param-name="forecast_date"]').after(newRow);
                                // apend hr after output_type row
                                $($tableSelect + ' tr[data-param-name="output_type"]').after(newRow);

                                var $productSelect = $(mainWeatherBlockID + ' > div.no-margin > div > div.opblock-section > div.parameters-container > div > table > tbody > tr[data-param-name="product"] > td.parameters-col_description > select');
                              
                                // replace selectElement value list using Product Type Name
                                $productSelect.empty();
                                productTypeList.forEach(option => {
                                  $productSelect.append($('<option>', {
                                      value: option.variable_name,
                                      text: option.name
                                  }));
                                });

                                // trigger attribute change for first product
                                if (productTypeList && productTypeList.length > 0) {
                                    change_item_list(productTypeList[0].variable_name);
                                    $productSelect.val(productTypeList[0].variable_name);
                                }
                                
                                $productSelect.on('change', function() {
                                    change_item_list($(this).val());
                                });

                                // check if has mode=full
                                var searchParams = new URLSearchParams(window.location.search);
                                var mode = searchParams.get('mode');
                                if (mode !== 'full') {
                                    // hide id get_measurement__responses
                                    $('#get_measurement__responses').hide();
                                    $('<style>')
                                    .prop('type', 'text/css')
                                    .html(' .curl-command { display: none; } div.responses-inner > div > h4 { display: none; }')
                                    .appendTo('head');
                                }
                                // class to hide the response example but error response also got hidden
                                // .response-col_description div:nth-of-type(2) { display: none; }
                                var startDateSelector = '#operations-Weather_\\\\\\&_Climate_Data-get-measurement > div.no-margin > div > div.opblock-section > div.parameters-container > div > table > tbody > tr[data-param-name="start_date"] > td.parameters-col_description > div:nth-child(1)';
                                $(startDateSelector).after('<div class="markdown"><p><i>Example</i>: 2020-01-01</p></div>');
                                var endDateSelector = '#operations-Weather_\\\\\\&_Climate_Data-get-measurement > div.no-margin > div > div.opblock-section > div.parameters-container > div > table > tbody > tr[data-param-name="end_date"] > td.parameters-col_description > div:nth-child(1)';
                                $(endDateSelector).after('<div class="markdown"><p><i>Example</i>: 2020-01-10</p></div>');
                                var latSelector = '#operations-Weather_\\\\\\&_Climate_Data-get-measurement > div.no-margin > div > div.opblock-section > div.parameters-container > div > table > tbody > tr[data-param-name="lat"] > td.parameters-col_description > div:nth-child(1)';
                                $(latSelector).after('<div class="markdown"><p><i>Example</i>: 0.5878374</p></div>');
                                var lonSelector = '#operations-Weather_\\\\\\&_Climate_Data-get-measurement > div.no-margin > div > div.opblock-section > div.parameters-container > div > table > tbody > tr[data-param-name="lon"] > td.parameters-col_description > div:nth-child(1)';
                                $(lonSelector).after('<div class="markdown"><p><i>Example</i>: 35.8560798</p></div>');
                                var bboxSelector = '#operations-Weather_\\\\\\&_Climate_Data-get-measurement > div.no-margin > div > div.opblock-section > div.parameters-container > div > table > tbody > tr[data-param-name="bbox"] > td.parameters-col_description > div:nth-child(1)';
                                $(bboxSelector).after('<div class="markdown"><p><i>Example</i>: 37.09,0.44,39.35,2.41</p><a onclick="toggleMap(event)" id="show-map-button">Show Map</a><div id="map-root-dest"></div></div>');
                                var altitudesSelector = '#operations-Weather_\\\\\\&_Climate_Data-get-measurement > div.no-margin > div > div.opblock-section > div.parameters-container > div > table > tbody > tr[data-param-name="altitudes"] > td.parameters-col_description > div:nth-child(1)';
                                $(altitudesSelector).after('<div class="markdown"><p><i>Example</i>: 0,20000</p></div>');
                            }, 200);
                          }
                      }
                  });
              });

              // Configure the observer to watch for attribute changes
              observer.observe(targetElement, { attributes: true });
            }

            // attach to observer to listen when weather block is opened
            var stateCheck = setInterval(function(){
              var targetElement = $(mainWeatherBlockID)[0];
              if (targetElement) {
                clearInterval(stateCheck);
                observerWeatherBlock();
              }
            }, 500);
        });
    </script>
{% endblock %}

{% block footer %}
<div id="map-root">
  <div id="map-app" style="height: 500px; display: none;"></div>
</div>
{% render_bundle 'Map' 'css' %}
{% render_bundle 'Map' 'js' %}

{% endblock %}
